Voice + Image + Text AI Facebook Workflow.json
{
  "name": "Voice + Image + Text AI Facebook Workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "ca3e2cf1-2cdd-4d20-aac6-182a6351bc42",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        112
      ],
      "id": "fed0121e-6006-4b22-9906-3428318f6f9e",
      "name": "Webhook",
      "webhookId": "ca3e2cf1-2cdd-4d20-aac6-182a6351bc42"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query.hub_challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        0
      ],
      "id": "890d795b-c1d4-4582-a002-6597f95ebd12",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\nYou are an intelligent AI assistant. Analyze the user's input carefully and generate a clean, natural, human-like response based on the content type.\n\nThe input may come from:\n- Text messages\n- Voice-to-text transcription\n- Images or image analysis\n- Mixed or broken speech transcription\n\nInstructions:\n- Understand incomplete or broken voice transcription intelligently.\n- If voice text is fragmented, reconstruct the intended meaning naturally before replying.\n- Reply according to the user's intent and context.\n- Keep responses conversational, clear, and helpful.\n- Output only plain clean text.\n- Do not use markdown, JSON, code blocks, bullet points, or special formatting.\n- Remove unnecessary newline characters (\\n), escape characters, extra spaces, symbols, and quotes.\n- Keep the response smooth and readable in a single clean format.\n- Never mention that the input was broken, transcribed, or analyzed.\n- If the input comes from image analysis, respond naturally based on the detected visual context.\n- Make replies sound human and professional.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        368
      ],
      "id": "1a3f5cf2-292c-4cf7-b685-d12217d794af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        608
      ],
      "id": "4e04e05f-884b-4efd-ad6b-c1676acfbc87",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EsHkL6dwg0fLYpId",
          "name": "OpenAI account 13"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae725a0f-7118-4fe6-9e9a-0bb7068ee4b3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6bb9f90b-8262-46e1-ba2a-b443f2030901",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aad3d6c1-94b1-4e32-ab5a-150ad765a510",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        320
      ],
      "id": "4a078780-232c-4c78-8767-060dd81dbbdb",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        608,
        416
      ],
      "id": "ddb4bbbe-62c3-4e0f-b431-0b037393d4a4",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "EsHkL6dwg0fLYpId",
          "name": "OpenAI account 13"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1328,
        608
      ],
      "id": "61a3c4a5-f9ed-4965-b32e-262c7ec14b70",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "NzkPXVZHLjgmP8OS",
          "name": "Postgres account 81"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Webhook').first().json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "your token"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').first().json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        368
      ],
      "id": "dfd896b1-5509-4529-9a51-670d4476cebd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        608,
        592
      ],
      "id": "093bf383-14d8-4714-9b40-bd6607afdcc6",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "EsHkL6dwg0fLYpId",
          "name": "OpenAI account 13"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        416
      ],
      "id": "c8e4eba6-1684-4840-8824-49e75b78d5be",
      "name": "Download Image"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        592
      ],
      "id": "3aabe363-87c0-405f-8866-fa99d2708237",
      "name": "Download Voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d939a5b-e2d0-471e-98fc-73e6900a6385",
              "name": "output",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        192
      ],
      "id": "807edb03-d854-449d-b08a-05132e4d57a2",
      "name": "Set Text fild"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6392a70c-ddcc-442c-ae09-7153cd07280b",
              "name": "output",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        416
      ],
      "id": "cd17f592-2126-48a6-b8b8-dbcd5d1b49fe",
      "name": "Set Image fild"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff11b4a6-c300-4c48-944f-284dab97b340",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        576
      ],
      "id": "c22c2a9d-c17c-44b5-886a-4e62eb06567f",
      "name": "set voice fild"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Text fild",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Set Image fild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "set voice fild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text fild": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image fild": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set voice fild": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "38339f7f-d62c-4beb-a21e-4d0429272510",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50918ee0be4fd9ad8edd59da0eb4c4a6502c186d6a425a1cf635ba824838446e"
  },
  "id": "uvFpORg8djvXvwg0",
  "tags": []
}